# IA & Traitement Core
torch
torchvision
ultralytics          # YOLOv8
opencv-python        # Traitement vidéo/image
scikit-learn         # ML traditionnel

# Manipulation de données
numpy
pandas
matplotlib
seaborn

# Dashboard & Visualisation
streamlit
plotly               # Graphiques interactifs

# Utilitaires
tqdm                 # Barres de progression
requests             # Téléchargement dataset
fpdf2                # Génération de rapports PDF